<div style="margin:10px">
	<h2> guest </h2>
	<div style="margin-bottom:10px">
		<button type="button" class="btn btn-default" onclick="registerClass('guest','VERL01')" >Subscribe VERL01 course</button>
		<a href="#/class/VERL01/1"> Go to class </a>
	</div>
	<div style="margin-bottom:10px">
		<button type="button" class="btn btn-default" onclick="registerClass('guest','VERL02')" >Subscribe VERL02 course</button>
		<button type="button" class="btn btn-default">Go to class</button>
	</div>
</div>

<div style="margin:10px">
	<h2> student </h2>
	<div style="margin-bottom:10px">
		<button type="button" class="btn btn-default" onclick="registerClass('student','VERL01')">Subscribe VERL01 course</button>
		<button type="button" class="btn btn-default">Go to class</button>
	</div>
	<div style="margin-bottom:10px">
		<button type="button" class="btn btn-default" onclick="registerClass('student','VERL02')">Subscribe VERL02 course</button>
		<button type="button" class="btn btn-default">Go to class</button>
	</div>
</div>