 <div class="class container" ng-controller="ClassCtrl">

	<!-- title -->
<!--
	<div class="class-title">
		 {{course.name}}
	</div> <!-- title -->

	<!-- lecture bar -->
	<div class="lecture-nav-bar" ng-controller="LectureCtrl">

		<span class="lecture-menu dropdown" >
			<!-- menu button -->
			<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
				<span class="glyphicon glyphicon-th-list"></span>
				<span class="lecture-header"> {{lecture.name}} </span>
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
			<!-- short explanation of lecture -->
			<span class="lecture-name"> {{lecture.snippet}} </span>
			<!-- dropdown lecture menu -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="lectureMenu">
				<li role="presentation" ng-repeat="lecture in course.lectures">
					<a role="menuitem" tabindex="-1" ng-href="#/class/{{cid}}/{{lecture.lid}}">{{lecture.name}}: {{lecture.snippet}}</a>
				</li>
			</ul>
		</span>

		<!-- navigation button -->
		<div class="right-align" >
			<button class="btn btn-default btn-sm" type="button" ng-click="back()">
				<span class="glyphicon glyphicon-chevron-left"></span>
				Back
			</button>
			<button class="btn btn-default btn-sm" type="button" ng-click="next()">
				Next
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>

		<!-- topic presenter -->
		<div id="study-board" class="topic" ng-controller="TopicCtrl">
			<div class="play-board">
	<!--
				<iframe id="player" width="1170px" height="658px" frameborder="0"
						src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1">
				</iframe>
	-->
				<div id="player"> </div>
			</div>
		</div>

		<!-- progress bar -->
		<div class="cus-progress">
			<div ng-repeat="bar in bars track by $index">
				<div class="meter orange" style="width:{{bar.width}};margin-right:{{bar.spacing}}" >
					<span style="width:{{bar.complete}};"></span>
				</div>
			</div>
		</div>
		<div> {{lid}}/{{current.tid}}/{{current.sid}} </div>
	</div> <!-- lecture-bar -->




<!--
	<div class="class-access-panel">
		<button type="button" class="btn btn-default btn-lg" title="Scheduler">
			<span class="glyphicon glyphicon-th"></span>
			Scheduler
		</button>
		<button type="button" class="btn btn-default btn-lg" title="Resources">
			<span class="glyphicon glyphicon-cloud-download"></span>
			Resources
		</button>
		<button type="button" class="btn btn-default btn-lg" title="Stats">
			<span class="glyphicon glyphicon-stats"></span>
			Stats
		</button>
		<button type="button" class="btn btn-default btn-lg" title="Chat room">
			<span class="glyphicon glyphicon-comment"></span>
			Chat Room
		</button>
	</div>

-->

	<script>
		function myback () {
			var $injector = angular.injector(['ng']);
			console.log ($injector);
		}
		function mynext () {
			var $injector = angular.injector(['ng', 'InterClass']);
			$injector.get('Flow').next();
		}
		function play () {
			VideoPlayer.play();
		}
		function stop () {
			VideoPlayer.stop();
		}
		function load () {
			VideoPlayer.load('ZgSCNS851Rg');
		}
		var conf = {
			player  : 'player',
            service : 'YT',
            height  : '658',
            width   : '1170',
            src     : 'XQMnT9baoi8',
            vars    : { 'theme':'dark', 'autohide':0, 'modestbranding':1, 'showinfo':1, 'controls':1, 'rel':0}
		}

		// For Youtube service, load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		// invoke Flow controller to prepare Video Player
		window.onYouTubePlayerAPIReady = function() {
			aUtil.angularApplyAction('LectureCtrl', 'youtubeReady');
		}

	</script>



</div> <!-- class -->
