/* CSS for Class page */

.class {
	padding : 0px;
}

.class-title {
	display : inline-block;
  padding-left : 5px;
  font-size : 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
}

.lecture-nav-bar {

	position : relative;
  height : 40px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.lecture-name {
  /*font-weight : bold;*/
	display: inline-block;
	position: relative;
	font-size: 1.4em;
  padding : 5px;
}

.lecture-header {
	font-size: 1.4em;
}

.dropdown-menu {
	margin-top: 10px;
}

.lecture-nav-btn > button {
	margin-top: 3px;
}

.topic-presenter {
	margin-top: 5px;
}


/* Progress bar */

.meter {
	height: 5px;  /* Can be anything */
	position: relative;
	background: #555;
	float: left;
}

.meter > span {
	display: inline-block;
	height: 100%;
	position: relative;
  float: left;
	overflow: hidden;
}

.orange {
	background-color: #f1a165;
}

.red {
	background-color: #f0a3a3;
}

.cus-progress {
	margin-bottom : 4px;
}

.class-access-panel {
	position: relative;
	padding-top: 2px;
	clear: both;
	height : 35px;
}

.class-access-panel div {
	display: inline-block;
	width : 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	/*color : #337ab7;*/
	text-align: center;
	border-left: solid 5px #fff;
}

.class-access-panel div:first-child {

}

.class-access-panel div:hover {
	background-color:#70a1cc;
	border-left: solid 5px #337ab7;
	color: #fff;
	cursor: pointer;
}

.class-access-panel div > span {
	padding-right: 5px;
}
