/* CSS for Class page */

.class {
	padding : 0px;
}

.class-title {
    padding-left : 5px;
    font-size : 1.5em;
    font-weight: bold;
    margin-bottom: 0px;
}

.lesson-nav-bar {
	position : relative;
    height : 40px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.lesson-name {
    font-weight : bold;
    padding-left : 5px;
}